<%- include("./partials/header.ejs", {active: "Edit"}) %>

<div class="container">
    <h3>Edit Project #<%= project.projectid %> <%= project.name %></h3>
    <hr>
    <div class="card">
        <div class="card-body">
            <form action="/projects/edit/save/<%= project.projectid %>" method="post">
                <!-- PROJECT NAME -->
                <div class="form-group row">
                    <label for="projectname" class="col-sm-3 col-form-label">Project Name </label>
                    <div class="col-sm">
                        <input type="text" class="form-control" name="projectname" id="name"
                            value="<%= project.name %>">
                    </div>
                </div>

                <!-- MEMBERS -->
                <div class="form-group row">
                    <label class="col-sm-3">Member</label>
                    <!-- OPTIONS CHOICES -->
                    <div class="form-group col-sm-4">
                        <% members.forEach((member, index)=>{ %>
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" name="member" id="<%= member.userid%>"
                                value="<%= member.userid%>" />
                            <label class="custom-control-label"
                                for="<%= member.userid%>"><%= member.firstname + member.lastname %></label>
                        </div>
                        <% }) %>
                    </div>
                </div>

                <!-- SAVE BUTTON -->
                <button class="btn btn-primary"><i class="fa fa-check-circle-o"></i> Update</button>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer.ejs") %>