<%- include("./partials/header.ejs", {active: "Project Detail"}) %>

<div class="container">
  <br>
  <form action="/projects/members/<%= projectid %>/add-save" method="post">
    <div class="card">
      <h5 class="card-header">Add members to project</h5>
      <div class="card-body">

        <!-- MEMBER DROPDOWN -->
        <div class="form-group row">
          <label class="col-sm-3">Member</label>
          <div class="form-group col-sm">
            <select class="form-control" id="exampleFormControlSelect1" name="userid">
              <% data.forEach((item, index)=>{ %>
              <option value="<%= item.userid %>"> <%= item.fullname %> </option>
              <% }) %>
            </select>
          </div>
        </div>

        <!-- POSITION -->
        <div class="form-group row">
          <label class="col-sm-3">Position</label>
          <!-- POSITION CHOICES -->
          <div class="form-group col-sm">
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="manager" name="position" value="Manager">
              <label class="custom-control-label" for="manager">Manager</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="softdev" name="position" value="Software Developer">
              <label class="custom-control-label" for="softdev">Software Developer</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="qa" name="position" value="Quality Assurance">
              <label class="custom-control-label" for="qa">Quality Assurance</label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add Member</button>
      </div>
    </div>
  </form>
</div>

<%- include("./partials/footer.ejs") %>