<%- include("./partials/header.ejs", {active: "Project Detail"}) %>
<%- include("../overview_partials/header.ejs", {active: "Overview"}) %>



<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit Members for : #<%= data[0].projectid %> <%= data[0].name %></h1>
</div>
<!-- Filters -->
<div class="card">
  <h5 class="card-header">Filters</h5>
  <div class="card-body">
      <form action="/" method="get">

          <!-- ID -->
          <div class="form-group row">
              <div class="col-sm-3 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="idcheck">
                  <label class="custom-control-label" for="idcheck" name="idcheck">ID</label>
              </div>
              <div class="col-sm-9">
                  <input type="text" class="form-control float-right" id="inputString" name="id" placeholder="ID">
              </div>
          </div>

          <!-- STRING -->
          <div class="form-group row">
              <div class="col-sm-3 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="namecheck">
                  <label class="custom-control-label" for="namecheck" name="namecheck">Name</label>
              </div>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputString" name="name" placeholder="Name">
              </div>
          </div>

          <!-- ROLE -->
          <div class="form-group row">
              <div class="col-sm-3 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="rolecheck">
                  <label class="custom-control-label" for="rolecheck" name="rolecheck">Role</label>
              </div>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputString" name="role" placeholder="Role">
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
      </form>
  </div>
</div>

<br>
<!-- OPTIONS -->
<div class="card">
  <h5 class="card-header">Options</h5>
  <div class="card-body">
      <form action="" method="post">
          <div class="form-group row">
              <!-- OPTIONS TITLE -->
              <label class="col-sm-3">Columns</label>
              <!-- OPTIONS CHOICES -->
              <div class="form-group col-sm-2">
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="idcolumn">
                      <label class="custom-control-label" for="idcolumn" name="idcolumn">ID</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="namecolumn">
                      <label class="custom-control-label" for="namecolumn" name="namecolumn">Name</label>
                  </div>
                  <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="rolecolumn">
                      <label class="custom-control-label" for="rolecolumn" name="rolecolumn">Role</label>
                  </div>
              </div>
          </div>

          <button type="submit" class="btn btn-primary">Apply</button>
      </form>
  </div>
</div>

<br>

<div class="table-responsive">
  <table class="table table-stripped">
    <thead class="thead-dark">
      <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((item, index)=>{ %>
      <tr>
        <td> <%= item.userid %> </td>
        <td> <%= item.firstname + item.lastname%> </td>
        <td> <%= item.role %></td>
        <td>
          <a href="/projects/members/<%= item.projectid %>/<%= item.userid %>/edit" class="btn btn-success">Edit</a>
          <a href="/projects/members/<%= item.projectid %>/<%= item.userid %>/delete" class="btn btn-danger">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<a href="/projects/members/<%= data[0].projectid %>/add" class="btn btn-primary">Add Member</a>

<%- include("../overview_partials/footer.ejs") %>
<%- include("./partials/footer.ejs") %>